.header {
  display: flex;
  justify-content: space-around;
}
.delInput {
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  align-items: center;
}

.pokeball {
  width: 30px;
  height: 30px;
}

.flecha {
  height: 30px;
}

.title2 {
  display: flex;
  align-items: center;
}

input {
  display: flex;
  width: 80%;
  align-items: center;

  border-radius: 5px;
}
