nav {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

div > header > nav {
  color: white;
}
.tipos{
    display: flex;
    gap: 40px;
}
.div {
  height: 400px;
  position: RELATIVE;
  background: white;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  height: 700px;
}
header {
  position: relative;
  height: 200px;
  width: 100%;
}

.imageni {
  position: absolute;
  left: 230px;
  top: 60px;
}
